.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .button-icon {
        color: gray;
    }
    
    .button-span {
      font-weight: lighter;
      font-size: medium;
      color: gray;
    }

}


